{% extends 'layout.html'%}

{% block body %}
<div class="jumbotron text-center">
    <h1>About Me</h1>
</div>
<div class="container">
<h1 >About me</h1>
<p class="lead" >Lorem ipsum dolor sit amet, tota complectitur vis in. Sint nonumes civibus in quo, an est elitr philosophia. Vel et vitae indoctum suavitate. Ius velit debet imperdiet ad, lorem luptatum vix ex. Tempor aeterno vocibus cum ea, no gubergren scripserit cum. Harum consul commodo at per, oratio nominati repudiare mea ex, usu ea deleniti adolescens inciderint.
.</p>
    </div>

{% endblock %}